LM/XML/PrimeraLeccion/Ejercicio1.dtd

<!ELEMENT boletin (alumnos,asignaturas,notas)>
<!ELEMENT alumnos (alumno)>
<!ELEMENT alumno (nombre,apellido,nif)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nif (#PCDATA)>
<!ELEMENT asignaturas (asignatura+)>
<!ELEMENT asignatura (#PCDATA)>
<!ATTLIST asignatura cod NMTOKEN #REQUIRED>
<!ELEMENT notas (nota+)>
<!ELEMENT nota (#PCDATA)>
<!ATTLIST nota cod NMTOKEN #REQUIRED>
<!ATTLIST nota nif NMTOKEN #REQUIRED>